*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;

}

body{
    background: url("assets/images/bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    
}

    
@font-face {
    font-family: fontawesome;
    src: url(assets/fonts/fontawesome-webfont.woff2);
}

@font-face {
    font-family: portfolio;
    src: url(assets/fonts/AEROSWIFT.otf);
}

#content-area > div{
    display: none;
}
/* ---------------------------------DESIGN-------------------------------------------------- */

.hstart{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: 3px 3px 15px black;
    font-size: 200%;
    margin-top: 100px;
    text-align: center;
}

/* ---------------------------------DESIGN-------------------------------------------------- */


#top-tabs > div {
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  font-family: fontawesome;
  font-size: 50px;
  text-shadow: 0 0 2px black;
}
#top-tabs > div:hover{
    transform: scale(1.2);
}
#top-tabs{
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(5, 34, 5);
}

/* #content-area{
    background: white;
    width: 80%;
    min-height: 200px;
    margin-top: 30px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
} */

#content-area > div:first-child{
    display: block;
}

.icon{
    font-family: fontawesome;
    display: inline;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#project1{
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    font-family: fontawesome; text-shadow: 0 0 2px black;

}

#project1 a:hover{
    transform: scale(1.2);
   
}